.spreadsheet {
  margin: 20px auto;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.logout-button {
  padding: 10px 15px;
  background-color: #ff4d4d;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  float: right;
}

.spreadsheet button {
  margin-right: 10px;
  padding: 8px 12px;
  padding-top: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.spreadsheet button:hover {
  background-color: #0056b3;
}